.container{
    background-color: teal;
}
.item{
    width: 220px;
    height: 220px;
    background-color: tomato;
    text-align: center;/*horizontal center*/
    line-height: 220px;/*Vertical align*/
    color: white;
    position: relative;
    animation-name: item-animation;
    animation-name: item-animation-2;

    animation-duration: 3s;
    /* Time taken by the animation */

    animation-iteration-count: 1;
    /* No. of times the animation will run. */

    /* animation-fill-mode: forwards; */
    /*stop at the last count at the to position*/

    /* animation-fill-mode: alternate; */
    /*stop at the last count at the from position*/

    /* animation-timing-function: ease-in-out; */
    /* ease-in --> positive acceleration of the moving part
       ease-out --> deceleration of the moving part
       ease-in-out --> Increase in speed, then decrease then increase again. */

    /* animation-delay: 4s; */
    /*start after initial delay of 4s*/

    /* animation-direction: reverse; */
    /* Motion in reversed direction. */

    /* animation-direction: alternate; */
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

@keyframes item-animation-2 {
    0%{
        /* When the animation is at 0%, do this */
        left: 0px;
        top: 0px;
    }
    25%{
        /* When the animation is at 25%, do this */
        left: 1000px;
        top: 0px;
    }
    50%{
        /* When the animation is at 50%, do this */
        left: 1000px;
        top: 300px;
    }
    75%{
        /* When the animation is at 75%, do this */
        left: 0px;
        top: 300px;
    }
    100%{
        /* When the animation is at 100%, do this */
        left: 0px;
        top: 0px;
    }

}

@keyframes item-animation {
    /* To change the width from 200px to 600px */
    from{
        width: 200px;
    }
    to{
        width: 600px;
    }
}