.item {
  border: 2px solid red;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  margin: 3px;
  box-sizing: border-box;
}

#item1 {
  background-color: aliceblue;
  position: relative;
  top: 20px;
  z-index: 3;
}

#item2 {
  background-color: greenyellow;
  position: relative;
  top: -20px;
  z-index: 2;
  /* Currently at this stage, item 2 is at the top of item 1.
    So, to change this, z-index is used.
    The item with higher z-index will be at the top and lower one at bottom. */
}

#item3 {
  background-color: lightblue;
  /* visibility: visible; */
  /* visibility: hidden; */
  /* Visibility:hidden hides the element but occupies the space.*/
  /* display: none; */
  /* display:none hides the element but also removes the occupied space.*/
}

#item4 {
  background-color: lightgreen;
}
